body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
:root {
  --primary-color: #fff3eb;
  --secondary-color: #000000;
  --border-radius: 6px;
}
body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a9eeb; /* Dark background color for better contrast */
    color: #000000;
    padding: 1rem;
    font-size: 1cm;
}

header img {
    margin-right: 1rem;
    width: auto;
    height: auto;
}

nav {
    background-color: #dbebf2;
    padding: 1rem;
    font-size: 1cm;
}

#darkMode {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background: none;
    border: none;
}

#darkMode img {
    width: 44px;
    height: auto;
}

#menuButton {
    display: none;
}

nav ul {
    list-style: none;
    justify-content: space-around;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #333; /* Adjusted link color for better visibility */
    font-weight: bold;
}

ul.menuLinks a:hover {
    color: #0066cc;
}
main.open {
  background-color: #333;
}
.Container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.formContainer{
  width: 100%;
  max-width: 500px;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 2%;
}
.formContainer div{
  padding-top: 4%;
}
label{
  padding-left: 2%;
  font-size: 1.5rem;
}
#rangevalue {
	font-size: 2rem;
	color: navy;
  text-align: center;
}

.formContainer h2{
  font-size: 3rem;
  color: var(--secondary-color);
  font-weight: 500;
  text-align: center;
  padding: 3%;
}

input[type="text"],
input[type="password"],
input[type="email"]{
  display: block;
  width: 94%;
  max-width: 400%;
  margin: 1% 2% 1% 2.5%;
  border-radius: 6px;
  height: 44px;
  outline: none;
}
input[type="range"]{
  display: block;
  height: 44px;
}
#rating {
	width: 90%;
	margin-bottom: 0;
  margin-left: 3%;
}
#rangevalues{
  display: flex;
  width: 95%;
}
#rangevalues option {
	flex: 1 1 auto;
  margin-left: 4%;
}
#formmessage {
 
	margin: 10px;
	padding: 0.5rem;
	color: red;
}

form input[type='submit']{
  border: none;
  background-image: linear-gradient(red, #6f200e);
  color: #fff;
  border-radius: var(--border-radius);
  padding: .8rem;
  width: 96%;
  max-width: 400%;
  margin: 2rem 2% 2rem 2%;
  box-shadow: 1px 1px 1px #999;
}
form input:required{
  border: 1px solid red;
}
form input:required:valid{
  border: 1px solid green;
}
  footer {
    background-color: #333; /* Dark background color for better contrast */
    color: white;
    text-align: center;
    padding: 1rem;
}