@media screen and (min-width: 500px) {
    header {
        background-color: #000000; /* Black background color */
        color: #ffffff; /* White text color */
    }
	nav ul li {
		flex: 1 1 100%;
	}
}
